/* PARTE GENERICA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
}


header {
    height: 80px;
    padding: 5px 10px;
    background-color: #090909;
}

aside {
    flex: 0 0 200px;
    color: lightgreen;
    background-color: black;
    padding: 20px;
    overflow-y: hidden;
    position: relative;
}

main {
    width: 100%;
    height: calc(100% - 80px);
    background-color: #141922;
    color: white;
    padding: 30px;
    overflow-y: auto;
}

footer {
    height: 80px;
    background-color: mintcream;
}

.container-navigazione {
    height: calc(100vh - 80px);
}

.top-right {
    width: calc(100vw - 200px);
    height: 100%;
    flex-direction: column;
}

.only-xs {
    display: none;
}

.f-right {
    float: right;
}

/* ASIDE */

.logo {
    width: 80%;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.play-create {
    display: block;
    line-height: 50px;
    height: 50px;
}

.playlist .fas {
    transform: translateY(20%);
}

.crea-play {
    display: inline-block;
    margin-left: 5px;
    height: 100%;
}

.play-create .fas {
    font-size: 30px;
}

aside ul {
    list-style: none;
}

aside li {
    padding: 10px 0;
}

aside a {
    text-decoration: none;
    color: lightgreen;
    transition: color 0.5s;
}

aside a:hover {
    color: LimeGreen;
    cursor: pointer;
}

.navbar {
    margin-top: 20px;
}

.navbar .fas {
    margin-right: 10px;
    font-size: 30px;
}

.playlist {
    margin: 20px 0;
}

aside h4 {
    color: white;
}

.account {
    position: absolute;
    bottom: 20px;
    width: 80%;
}

.playlist-list {
    overflow-y: auto;
}

.fa-user-circle {
    font-size: 30px;
    transform: translateY(20%);
}

.account .fas {
    margin-right: 10px
}

aside hr {
    width: 100%;
    color: lightgreen;
}

/* HEADER */

header button {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s;
}

header button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* MAIN */

.nav-interna {
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 20px;
}

.nav-interna a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    transition: color 0.5s;
}

.nav-interna a:hover {
    color: lightgreen;
    cursor: pointer;
}

.nav-interna li {
    margin-bottom: 15px;
}

.porta-disco {
    width: 200px;
    height: 300px;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 10px 20px 10px 0;
}

.dischi {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
}

.disco {
    width: 200px;
    height: 200px;
    position: relative;
}

.porta-disco img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;

}

h6 {
    font-size: 18px;
}

.layover-dischi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s;
}

.disco:hover .layover-dischi {
    opacity: 1;
    background-color: rgba(43, 43, 43, 0.5);
    cursor: pointer;

}

.layover-dischi .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 70px;
}


.cerchio {
    border-radius: 50%;
    overflow: hidden;
}



@media screen and (max-width: 767px) {

    aside {
        flex: 0 0 50px;
        padding: 20px 5px;
        text-align: center;
        }

    .hidden-xs {
        display: none;
    }

    .only-xs {
        display: block;
    }

    .top-right {
        width: calc(100vw - 50px);
    }

    .account {
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar .fas,
    .account .fas {
        margin: 0 auto;
    }

    .logo {
        margin: 0 auto;
    }




}
